<span data-animation-appear class="split-container">
  <span class="animate-me">
    <slot />
  </span>
</span>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(SplitText, ScrollTrigger);

  let split = SplitText.create(".animate-me", {
    type: "words",
    aria: "hidden",
  });

  gsap.from(split.words, {
    scrollTrigger: {
      trigger: ".split-container",
      markers: false,
    },
    opacity: 0,
    duration: 2,
    ease: "sine.out",
    stagger: 0.1,
  });
</script>
