@import "tailwindcss";

@theme {
  --font-sans: "Inter Variable", sans-serif;
  --font-serif: "Castoro", sans-serif;

  --color-*: initial;
  --color-indigo-dark: #2b274c;
  --color-blue-royal: #2a3f86;
  --color-olive-soft: #bfc64d;
  --color-sand-light: #c5b697;
  --color-clay-warm: #9e8475;
  --color-cream: #eae7e1;
  --color-tan: #ae9281;
  --color-red: #ea1717;
  --color-tan-light: #d3c7ac;
  --color-blue-pale: #e1e6f4;
  --color-white: #fff;
  --color-black: #000;

  --text-xxxl: 140px;
  --text-xxl: 120px;
  --text-xl: 80px;
  --text-lg: 64px;
  --text-md: 40px;
  --text-sm: 32px;
  --text-xs: 24px;
  --text-xxs: 20px;
  --text-xxxs: 14px;

  /* --drop-shadow-fixed-section: 0px -11px 82.5px 0 rgba(0, 0, 0, 0.1); */

  --animate-breath: breath 2s ease-in-out infinite;

  @keyframes breath {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
  }
}

html {
  font-family: var(--font-sans);
}

.filter-fixed-section-container {
  filter: drop-shadow(0px -11px 82.5px #0000001a);
}

.filter-fixed-section-child {
  mask-image: url("/mask-fixed.svg");
  mask-position: top center;
  mask-repeat: no-repeat;
  mask-size: cover;
}

.bg-body {
  position: fixed;
  inset: 0;
  z-index: -100;
  inset: 0;
  background-image: url("/white-texture.jpg");
  background-repeat: repeat;
  background-size: cover;
}

.bg-body-container {
  background-image: url("/bg-pattern-paper.jpg");
  background-repeat: repeat;
  background-size: 200px 200px;
}
