---
import Picture from "astro/components/Picture.astro";
import bertaCorviRead from "../../assets/berta-corvi-read-original.jpg";
import Container from "../Container.astro";
import AnimationFadeY from "../animations/AnimationFadeY.astro";
import Title from "../Title.astro";
import AnimationFade from "../animations/AnimationFade.astro";
import ButtonLine from "../ButtonLine.astro";
---

<section>
  <div class="relative z-20">
    <Container>
      <div class="text-center text-indigo-dark">
        <AnimationFadeY>
          <p class="text-xxs font-medium uppercase">L'autrice del libro</p>
        </AnimationFadeY>

        <AnimationFadeY>
          <Title tag="h2" size="xxl">Berta Corvi</Title>
        </AnimationFadeY>
      </div>
    </Container>

    <Container>
      <div class="grid gap-4 grid-cols-1 lg:grid-cols-[1fr_2fr]">
        <AnimationFade>
          <div
            data-scroll-image
            class="max-lg:flex items-center justify-center max-lg:mt-14"
          >
            <Picture
              src={bertaCorviRead}
              alt=""
              width={367}
              formats={["avif", "webp", "jpg"]}
              height={550}
              quality={100}
              class="lg:-translate-x-6 origin-center -rotate-[10deg]"
            />
          </div>
        </AnimationFade>

        <AnimationFadeY>
          <div class="space-y-6 text-indigo-dark">
            <div class="lg:max-w-[550px]">
              <Title tag="h3" size="xs">
                Insegnante di lingue, traduttrice e autrice italiana,
                madrelingua francese.
              </Title>
            </div>
            <div class="space-y-14">
              <div class="lg:max-w-[480px] space-y-4">
                <p>
                  Laureata in lingue e letterature straniere, ha maturato una
                  lunga esperienza nell’insegnamento delle lingue francese,
                  inglese e italiano, e nella promozione culturale. Ha
                  pubblicato raccolte poetiche e tradotto testi letterari
                  dall’italiano al francese e dal francese all’italiano.
                </p>
                <p>
                  Il <b>profumo dell’Universo</b> è il suo primo romanzo, in cui
                  fonde elementi scientifici, filosofici e simbolici in una narrazione
                  ricca di suggestioni. Attualmente vive in Brianza, dove dirige
                  una scuola di lingue e collabora a progetti educativi e culturali.
                </p>
              </div>

              <ButtonLine href="#"
                >Scopri il punto di vista dell'autrice</ButtonLine
              >
            </div>
          </div>
        </AnimationFadeY>
      </div>
    </Container>
  </div>
</section>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.to("[data-scroll-image]", {
    scrollTrigger: {
      trigger: "[data-scroll-image]",
      start: "top 80%",
      end: "bottom 20%",
      scrub: 1,
      markers: false,
    },

    yPercent: -20,
    ease: "none",
  });
</script>
