---
import Container from "../Container.astro";
import Title from "../Title.astro";
---

<section
  class="pt-[200px] min-h-screen grid place-items-center"
  data-pin-section
>
  <Container>
    <div class="max-w-[820px] w-full text-blue-royal">
      <Title size="md">
        “Nel Caffè degli Specchi, tra il richiamo antico dell’Egitto e la magia
        dei riflessi, Dahlia e Nassim svelano segreti dell’Universo,
        <span class="text-sand-light"
          >intrecciando profumi e scienza in una danza di mistero e scoperta.</span
        >”
      </Title>
    </div>
  </Container>
</section>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.to("[data-pin-section]", {
    scrollTrigger: {
      trigger: "[data-pin-section]",
      start: "bottom bottom",
      end: "top top",
      endTrigger: "[data-pin-end-trigger]",
      pin: true,
      pinSpacing: false,
      scrub: 1,
      markers: false,
    },
  });
</script>
