---
import Container from "../Container.astro";
import Title from "../Title.astro";
---

<div
  dahlia-section
  class="fixed inset-0 h-screen w-screen bg-body-container z-50 translate-y-full transition-transform duration-1000"
>
  <Container>
    <div class="max-w-[480px] text-indigo-dark">
      <div class="space-y-4">
        <Title size="xs"
          ><i class="text-sand-light">Dahlia</i> è una giovane donna dallo sguardo
          intenso e misterioso, capace di percepire ciò che sfugge agli altri.</Title
        >

        <p>
          Nata in Egitto e adottata in Francia, vive il dualismo di due culture
          e custodisce dentro di sé il desiderio profondo di risalire alle sue
          origini. Il suo nome richiama il fiore della vita, simbolo che guida
          il suo destino e si intreccia con i segreti dell’universo.
        </p>
        <p>
          Dotata di un olfatto eccezionale e di una sensibilità fuori dal
          comune, Dahlia è una talentuosa creatrice di profumi: per lei ogni
          essenza racconta una storia legata al cosmo, una vibrazione invisibile
          tra scienza e spirito.
        </p>
      </div>
    </div>
  </Container>
</div>
