---
import ButtonLine from "../ButtonLine.astro";
import Container from "../Container.astro";
import StarsSky from "../StarsSky.astro";
import Title from "../Title.astro";
---

<footer
  class="relative min-h-screen bg-gradient-to-t from-indigo-dark to-indigo-dark/0 text-white flex flex-col"
>
  <div class="flex-1 grid place-items-center">
    <Container size="xl">
      <div class="flex flex-col justify-center gap-4">
        <div class="max-w-[680px]">
          <Title size="md"
            >Non esitare a contattarmi per collaborazioni, eventi, o qualsiasi
            altra domanda.</Title
          >
        </div>

        <div class="max-w-[570px] ml-auto w-full">
          <ButtonLine color="white" href="#">Contattami qui</ButtonLine>
        </div>
      </div>
    </Container>
  </div>

  <Container size="xl">
    <div class="py-4 border-t border-white/20">
      <div class="flex items-center justify-between flex-wrap">
        <span class="uppercase">© Berta Corvi</span>
        <span class="uppercase text-[11px]">design di luisa pianigiani</span>
      </div>
    </div>
  </Container>

  <StarsSky color="blue" />
</footer>
