---
import ButtonLine from "../ButtonLine.astro";
import Container from "../Container.astro";
import StarsSky from "../StarsSky.astro";
import Title from "../Title.astro";
---

<footer
  class="relative min-h-screen bg-gradient-to-t from-indigo-dark to-indigo-dark/0 text-white flex flex-col"
>
  <div class="flex-1 grid place-items-center">
    <Container size="xl">
      <div class="flex flex-col justify-center gap-4">
        <div class="max-w-[680px]">
          <Title size="md"
            >Non esitare a contattarmi per collaborazioni, eventi, o qualsiasi
            altra domanda.</Title
          >
        </div>

        <div class="max-w-[570px] ml-auto w-full">
          <ButtonLine
            color="white"
            href="mailto:bertacor75@gmail.com"
            target="_blank">Contattami qui</ButtonLine
          >
        </div>
      </div>
    </Container>
  </div>

  <Container size="xl">
    <div class="py-4 border-t border-white/20">
      <div class="flex items-center justify-between flex-wrap">
        <span class="uppercase">© Berta Corvi</span>
        <a
          href="https://www.behance.net/ellepianigiani"
          target="_blank"
          class="uppercase text-[11px] hover:after:bg-white after:bg-transparent relative after:absolute after:-bottom-1 after:inset-x-0 after:h-px after:transition-colors"
          >design di luisa pianigiani</a
        >
      </div>
    </div>
  </Container>

  <StarsSky color="blue" />
</footer>
