---
import AnimationFadeY from "../animations/AnimationFadeY.astro";
import Container from "../Container.astro";
import Title from "../Title.astro";
---

<section class="pb-44 pt-28">
  <div class="text-center text-indigo-dark">
    <Container size="sm">
      <div class="space-y-8">
        <AnimationFadeY>
          <div data-speed="1.05">
            <Title uppercase size="xl">Intervista a<br /> Nassim Haramein</Title
            >
          </div>
        </AnimationFadeY>

        <AnimationFadeY>
          <div class="aspect-video" data-speed="1.25">
            <iframe
              class="w-full h-full block"
              width="1920"
              height="1080"
              src="https://www.youtube.com/embed/rijznJjegIU?si=Z6weGFs2vZA1pgXD"
              title="YouTube video player"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen></iframe>
          </div>
        </AnimationFadeY>
      </div>
    </Container>
  </div>
</section>
