---
import AnimationFadeY from "../animations/AnimationFadeY.astro";
import Container from "../Container.astro";
import Title from "../Title.astro";
---

<section class="pb-44 pt-28">
  <div class="text-center text-indigo-dark">
    <Container size="sm">
      <div class="space-y-8">
        <AnimationFadeY>
          <Title uppercase size="xl">Intervista a<br /> Nassim Haramein</Title>
        </AnimationFadeY>

        <AnimationFadeY>
          <div style="background-color: #D9D9D9;" class="aspect-video bg-">
          </div>
        </AnimationFadeY>
      </div>
    </Container>
  </div>
</section>
