---
import "swiper/css";
import Container from "../Container.astro";
import Title from "../Title.astro";
import Link from "../Link.astro";
import article1 from "../../assets/articles/articolo-1.jpg";
import article2 from "../../assets/articles/articolo-2.jpg";
import article3 from "../../assets/articles/articolo-3.jpg";
import article4 from "../../assets/articles/articolo-4.jpg";
import Picture from "astro/components/Picture.astro";

const ARTICLES = [
  {
    title:
      "Il profumo dell’Universo” - Un viaggio tra scienza, mistero e fragranza: il primo romanzo di Berta Corvi",
    image: article1,
    link: "https://www.tuttoperlei.it/2025/02/09/il-profumo-delluniverso-un-viaggio-tra-scienza-mistero-e-fragranza-il-primo-romanzo-di-berta-corvi/",
  },
  {
    title: "Il Profumo dell'Universo: il romanzo di Berta Corvi",
    image: article2,
    link: "https://www.notizieedintorni.it/il-profumo-delluniverso-il-romanzo-di-berta-corvi/",
  },
  {
    title:
      "Berta Corvi: quando scienza e poesia si incontrano nel “Profumo dell’Universo”",
    image: article3,
    link: "https://www.corrieredellospettacolo.net/2025/06/28/berta-corvi-quando-scienza-e-poesia-si-incontrano-nel-profumo-delluniverso/?amp=1",
  },
  {
    title: "Premio Aromata, menzione a Berta Corvi",
    image: article4,
    link: "https://www.premioaromata.com/home",
  },
];
---

<section class="pb-44 overflow-x-hidden">
  <Container size="lg">
    <!-- Slider main container -->
    <div class="swiper !overflow-visible size-full">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        {
          ARTICLES.map((article) => (
            <div class="swiper-slide text-indigo-dark">
              <div class="flex flex-col justify-between gap-4 h-[420px]">
                <Picture
                  formats={["avif", "webp", "jpg"]}
                  alt={article.title}
                  src={article.image}
                  width={354}
                  height={271}
                  class="aspect-[354/271] w-full h-[271px] bg-[#E1E6F4] size-full"
                />

                <div class="grow shrink basis-full">
                  <Title size="xxs">{article.title}</Title>
                </div>
                <div class="mt-auto">
                  <Link target="_blank" href={article.link}>
                    Leggi l'articolo
                  </Link>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </Container>
</section>

<style>
  .swiper {
    width: 100%;
  }

  .swiper-slide {
    display: block;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
  }
</style>

<script>
  import Swiper from "swiper";

  const swiper = new Swiper(".swiper", {
    breakpoints: {
      640: {
        slidesPerView: 2,
      },
      992: {
        slidesPerView: 2.5,
      },
      1024: {
        slidesPerView: 3.5,
      },
    },
    slidesPerView: 1,
    spaceBetween: 24,
  });

  swiper.init();
</script>
