---
import { Picture } from "astro:assets";
import bgExclusion from "../assets/bg-end-exclusion.png";
import Author from "../components/blocks/Author.astro";
import BookShortDescription from "../components/blocks/BookShortDescription.astro";
import Characters from "../components/blocks/Characters.astro";
import Footer from "../components/blocks/Footer.astro";
import Hero from "../components/blocks/Hero.astro";
import HorizontalScroll from "../components/blocks/HorizontalScroll.astro";
import Interview from "../components/blocks/Interview.astro";
import SliderArticles from "../components/blocks/SliderArticles.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="bg-body-container">
    <Hero />
    <BookShortDescription />
    <HorizontalScroll />
  </div>

  <div class="relative bg-body-container">
    <Characters />
    <div class="relative">
      <div class="absolute inset-0 pointer-events-none">
        <Picture
          loading={"eager"}
          alt=""
          src={bgExclusion.src}
          width={2000}
          height={4000}
          class="object-cover object-top absolute inset-0 size-full mix-blend-exclusion"
        />
      </div>

      <Author />
      <Interview />
      <SliderArticles />
      <Footer />
    </div>
  </div>
</Layout>
