---
import Author from "../components/blocks/Author.astro";
import BookShortDescription from "../components/blocks/BookShortDescription.astro";
import Characters from "../components/blocks/Characters.astro";
import Footer from "../components/blocks/Footer.astro";
import Hero from "../components/blocks/Hero.astro";
import HorizontalScroll from "../components/blocks/HorizontalScroll.astro";
import Interview from "../components/blocks/Interview.astro";
import SliderArticles from "../components/blocks/SliderArticles.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Hero />
  <BookShortDescription />
  <HorizontalScroll />

  <div class="relative">
    <Characters />
    <Author />
    <Interview />
    <SliderArticles />
    <Footer />
  </div>
</Layout>
