---
import Image from "astro/components/Image.astro";
import AnimationTextAppear from "../components/AnimationTextAppear.astro";
import Container from "../components/Container.astro";
import Grid from "../components/Grid.astro";
import StarsSky from "../components/StarsSky.astro";
import TextStarText from "../components/TextStarText.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Container>
    <StarsSky />

    <div class="grid grid-cols-6 grid-rows-[repeat(4,auto)]">
      <div class="col-start-1 -col-end-1 row-start-1">
        <Title size="xxl">Il profumo</Title>
      </div>
      <div
        class="col-start-1 -col-end-1 row-start-2 row-end-2 justify-self-end"
      >
        <Title size="xxl">dell'universo</Title>
      </div>

      <div
        class="col-start-1 col-end-4 row-start-1 row-end-2 grid place-items-center"
      >
        <Image
          src="/book.png"
          alt={"Il profumo dell’Universo"}
          width={2000}
          height={2000}
        />
      </div>

      <div class="col-start-3 row-start-4">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate.
        </p>
      </div>
    </div>

    <div class="max-w-[820px] mt-44">
      <Title className="text-blue-royal"
        >“Nel Caffè degli Specchi, tra il richiamo antico dell’Egitto e la magia
        dei riflessi, Dahlia e Nassim svelano segreti dell’Universo, <span
          class="text-clay-warm"
          >intrecciando profumi e scienza in una danza di mistero e scoperta.”</span
        ></Title
      >
    </div>

    <div class="space-y-52">
      <Grid>
        <div class="space-y-4">
          <TextStarText
            items={["Universo e stelle", "Teoria del tutto e scienza"]}
          />
          <Title size="md">
            <AnimationTextAppear>
              Il romanzo esplora il cosmo e i misteri dell’universo. Si ispira
              alle ricerche di Nassim Haramein e alla fisica quantistica.
            </AnimationTextAppear>
          </Title>
        </div>
      </Grid>

      <Grid pushEnd>
        <div class="space-y-4">
          <TextStarText
            items={[
              "Destino e consapevolezza",
              "Profumi e percezione sensoriale",
            ]}
          />
          <Title size="md">
            La protagonista ha un talento speciale legato agli odori. È alla
            ricerca del senso della propria esistenza.
          </Title>
        </div>
      </Grid>

      <Grid>
        <div class="space-y-4">
          <TextStarText
            items={[
              "Spiritualità e antiche civiltà",
              "Futurismo e innovazione",
            ]}
          />
          <Title size="md">
            Il libro tocca temi legati all’Egitto e ai simboli esoterici come il
            <i>Fiore della Vita</i>. Nascerà l’idea di creare un profumo che
            rappresenti l’universo.
          </Title>
        </div>
      </Grid>
    </div>
  </Container>
</Layout>
