---
import Hero from "../components/Hero.astro";
import HorizontalScroll from "../components/HorizontalScroll.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Hero />

  <HorizontalScroll />

  <div class="h-[200vh] bg-red-100 grid place-items-center">
    Altro Contenuto
  </div>
</Layout>
