---
import Author from "../components/Author.astro";
import Hero from "../components/Hero.astro";
import HorizontalScroll from "../components/HorizontalScroll.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Hero />

  <HorizontalScroll />

  <div class="h-[200vh]">
    <Author />
  </div>
</Layout>
