---
interface Props {
  color?: "blue" | "white";
}

const { color = "blue" } = Astro.props;
---

<span
  class:list={[
    "rounded-full aspect-square size-20 bg-transparent border cursor-pointer  transition-colors   group inline-grid place-items-center duration-500",
    {
      "border-indigo-dark group-hover:bg-indigo-dark hover:bg-indigo-dark":
        color === "blue",
      "border-white group-hover:bg-white hover:bg-white": color === "white",
    },
  ]}
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    class="size-6"
    ><g clip-path="url(#a)"
      ><path
        class:list={[
          "transition-all duration-500 -rotate-[30deg] origin-center group-hover:rotate-0",
          {
            "fill-indigo-dark group-hover:fill-white": color === "blue",
            "fill-white group-hover:fill-indigo-dark": color === "white",
          },
        ]}
        d="M13 2c0 5.24671 4.2533 9.5 9.5 9.5v1c-5.2467 0-9.5 4.2533-9.5 9.5h-1c0-4.1987 2.4652-7.8201 6.0264-9.5H1v-1h17.0264C14.4652 9.82006 12 6.19866 12 2h1Z"
      ></path></g
    ><defs><clipPath id="a"><path d="M0 0h24v24H0z"></path></clipPath></defs
    ></svg
  >
</span>
