---
const { href } = Astro.props;
---

<button
  class="px-4 text-xxxs rounded-md leading-none py-1 uppercase border border-blue-royal bg-transparent hover:bg-blue-royal hover:text-cream text-blue-royal relative cursor-pointer transition-all duration-500 click active:bg-indigo-dark h-6 inline-flex items-center"
>
  <slot />
</button>
