---
interface Props {
  size?: "sm" | "md" | "lg" | "xl";
}

const { size = "md" } = Astro.props;
---

<div
  class:list={[
    "mx-auto px-4",
    {
      "max-w-[977px]": size === "sm",
      "max-w-[1200px]": size === "md",
      "max-w-[1360px]": size === "lg",
      "max-w-[1440px]": size === "xl",
    },
  ]}
>
  <slot />
</div>
