---
import Picture from "astro/components/Picture.astro";
import AnimationTextAppear from "./AnimationTextAppear.astro";
import Container from "./Container.astro";
import TextStarText from "./TextStarText.astro";
import Title from "./Title.astro";
import bgScroll from "../assets/bg-scroll-original.png";
---

<section
  data-pin-end-trigger
  style={`mask-image: url('/mask.svg'); `}
  class="bg-linear-to-t from-blue-royal to-indigo-dark text-white relative overflow-hidden mask-center mask-no-repeat mask-cover"
>
  <Picture
    alt=""
    src={bgScroll}
    width={1920}
    height={1080}
    class="object-cover object-center absolute inset-0 opacity-50 size-full"
  />
  <Container>
    <div data-horizontal-scroll-section>
      <div data-horizontal-scroll-container>
        <div class="flex items-center h-screen p-0 w-[300vw] gap-96">
          <div data-horizontal-scroll class="max-w-[680px]">
            <TextStarText
              items={["Universo e stelle", "Teoria del tutto e scienza"]}
            />
            <Title size="md">
              <AnimationTextAppear>
                Il romanzo esplora il cosmo e i misteri dell’universo. Si ispira
                alle ricerche di Nassim Haramein e alla fisica quantistica.
              </AnimationTextAppear>
            </Title>
          </div>

          <div data-horizontal-scroll class="max-w-[680px]">
            <TextStarText
              items={[
                "Destino e consapevolezza",
                "Profumi e percezione sensoriale",
              ]}
            />
            <Title size="md">
              La protagonista ha un talento speciale legato agli odori. È alla
              ricerca del senso della propria esistenza.
            </Title>
          </div>

          <div data-horizontal-scroll class="max-w-[680px]">
            <TextStarText
              items={[
                "Spiritualità e antiche civiltà",
                "Futurismo e innovazione",
              ]}
            />
            <Title size="md">
              Il libro tocca temi legati all’Egitto e ai simboli esoterici come
              il
              <i>Fiore della Vita</i>. Nascerà l’idea di creare un profumo che
              rappresenti l’universo.
            </Title>
          </div>
        </div>
      </div>
    </div>
  </Container>
</section>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const panels = gsap.utils.toArray("[data-horizontal-scroll]");

  gsap.to("[data-horizontal-scroll-container]", {
    xPercent: -100 * (panels.length - 1),
    ease: "none",
    scrollTrigger: {
      trigger: "[data-horizontal-scroll-section]",
      pin: true,
      scrub: 1,
      markers: false,
      start: "top+=10% top",
      end: () =>
        "+=" +
        (
          document.querySelector(
            "[data-horizontal-scroll-container]"
          ) as HTMLElement
        ).offsetWidth,
    },
  });
</script>
