---
import Star from "./Star.astro";

interface Props {
  items: string[];
}

const { items } = Astro.props;
---

<div class="inline-flex gap-2 items-center group">
  {
    items.map((item, index) => (
      <>
        <p class="text-tan-light uppercase font-medium">{item}</p>
        {index < items.length - 1 && (
          <div class="group-hover:rotate-180 transition-transform duration-1000">
            <div class="animate-breath">
              <Star />
            </div>
          </div>
        )}
      </>
    ))
  }
</div>
