---
import Star from "./Star.astro";

interface Props {
  items: string[];
  target?: string;
  mobileDirection?: "horizontal" | "vertical";
}

const { items, target = "", mobileDirection = "horizontal" } = Astro.props;
---

<div
  class:list={[
    "lg:flex-row",
    {
      "inline-flex gap-2 items-center group": mobileDirection === "horizontal",
      "flex flex-col items-center group": mobileDirection === "vertical",
    },
  ]}
>
  {
    items.map((item, index) => (
      <>
        <p
          data-target={target || undefined}
          class="text-tan-light uppercase font-medium"
        >
          {item}
        </p>
        {index < items.length - 1 && (
          <div class="group-hover:rotate-180 transition-transform duration-1000">
            <div class="animate-breath">
              <Star />
            </div>
          </div>
        )}
      </>
    ))
  }
</div>
