---
import "@fontsource-variable/inter";
import "@fontsource/castoro";
import Image from "astro/components/Image.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Il profumo dell'universo</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <div class="fixed inset-0 -z-50">
      <Image
        width={1000}
        height={1000}
        src="/white-texture.jpg"
        class="size-full object-cover"
        alt={""}
      />
    </div>
  </body>
</html>
