---
import "@fontsource-variable/inter";
import "@fontsource/castoro/400";
import "@fontsource/castoro/400-italic";
import "../styles/global.css";
import FixedCharacterDahlia from "../components/blocks/FixedCharacterDahlia.astro";
import FixedCharacterNassim from "../components/blocks/FixedCharacterNassim.astro";
---

<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Il profumo dell'universo</title>
  </head>
  <body class="overflow-x-hidden" style="background-color: red;">
    <div id="smooth-wrapper" class="bg-body-container">
      <div id="smooth-content">
        <main>
          <slot />
        </main>
      </div>
    </div>
  </body>

  <FixedCharacterDahlia />
  <FixedCharacterNassim />

  <script>
    import { gsap } from "gsap";
    import { ScrollSmoother } from "gsap/ScrollSmoother";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger, ScrollSmoother);

    ScrollSmoother.create({
      wrapper: "#smooth-wrapper",
      content: "#smooth-content",
      smooth: 1,
      effects: true,
      ignoreMobileResize: false,
    });
  </script>
</html>
