---
import "@fontsource-variable/inter";
import "@fontsource/castoro";
import "../styles/global.css";
---

<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Il profumo dell'universo</title>
  </head>
  <body class="overflow-x-hidden">
    <main>
      <slot />
    </main>

    <div data-speed="0" class="bg-body"></div>
  </body>
</html>

<script>
  import { gsap } from "gsap";
  import { ScrollSmoother } from "gsap/ScrollSmoother";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger, ScrollSmoother);

  /* ScrollSmoother.create({
    smooth: 1,
    effects: true,
    ignoreMobileResize: true,
  }); */
</script>
